@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 1000px;
    margin-left: 120px;
}
.stockName {
    display: flex;
    flex-direction: row;
    column-gap: 700px;
    margin-top: 100px;
    margin-bottom: 20px;

}
.add {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}
form input {
    width: 150px;
    margin-top: 8px;
    background-color: #0B1141;
    color: white;
    padding: 4px 8px;
    min-height: 8px;
    border-radius: 3px;
}
.price {
    margin-top: 5px;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 8px;
}
.card {
    height: auto;
    border-radius: 6px;
    box-shadow: 2px 2px lightgray;
    margin-bottom: 50px;
}
.from {
    height: 50px;
    width: 1000px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: lightgray;
}

.from select {
    font-size: 16px;
    line-height: 28px;
    padding: 4px 8px;
    margin-top: 8px;
    margin-left: 40px;
    width: 200px;
    min-height: 8px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.from input {
    width: 80px;
    background-color: #0B1141;
    color: white;
    padding: 4px 8px;
    min-height: 8px;
    border-radius: 3px;
    margin-left: 20px;
}
.chart-container {
    height: 400px;
}

.stockDetails{
    margin-top: 40px;
}
.content-table {
    border-collapse: collapse;
    margin: 25px 5px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #0B1141;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: center;
}
.firstColumn {
    width: 300px;
    text-align: left;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
