<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.UtilisateurServlets.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStockData</servlet-name>
        <servlet-class>com.example.projets3.servlets.getStockData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStockData</servlet-name>
        <url-pattern>/stock</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>supprimerUtilisateurServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.UtilisateurServlets.SupprimerUtilisateurServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>supprimerUtilisateurServlet</servlet-name>
        <url-pattern>/supprimer-utilisateur</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>modifierUtilisateurServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.UtilisateurServlets.ModifierUtilisateurServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>modifierUtilisateurServlet</servlet-name>
        <url-pattern>/modifier-utilisateur</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createUtilisateurServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.UtilisateurServlets.CreateUtilisateurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createUtilisateurServlet</servlet-name>
        <url-pattern>/createUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>conseillerServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ConseillerServlets.ConseillerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>conseillerServlet</servlet-name>
        <url-pattern>/conseiller-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupprimerConseillerServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ConseillerServlets.SupprimerConseillerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SupprimerConseillerServlet</servlet-name>
        <url-pattern>/supprimer-Conseiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifierConseillerServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ConseillerServlets.ModifierConseillerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>modifierConseillerServlet</servlet-name>
        <url-pattern>/modifier-conseiller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createConseillerServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ConseillerServlets.CreateConseillerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createConseillerServlet</servlet-name>
        <url-pattern>/create-conseiller</url-pattern>
    </servlet-mapping>
</web-app>