<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>UtilisateurServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.UtilisateurServlets.UtilisateurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getStockData</servlet-name>
        <servlet-class>com.example.projets3.servlets.stockData.getStockData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.authentification.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.authentification.signupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>googleAuthServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.authentification.googleAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getConseiller</servlet-name>
        <servlet-class>com.example.projets3.servlets.getConseiller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>googleAuthServlet</servlet-name>
        <url-pattern>/auth/google</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.authentification.logoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtilisateurServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getStockData</servlet-name>
        <url-pattern>/stock</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>supprimerUtilisateurServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.UtilisateurServlets.SupprimerUtilisateurServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>supprimerUtilisateurServlet</servlet-name>
        <url-pattern>/supprimer-utilisateur</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>modifierUtilisateurServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.UtilisateurServlets.ModifierUtilisateurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dashboard</servlet-name>
        <servlet-class>com.example.projets3.servlets.dashboard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modifierUtilisateurServlet</servlet-name>
        <url-pattern>/modifier-utilisateur</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createUtilisateurServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.UtilisateurServlets.CreateUtilisateurServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createUtilisateurServlet</servlet-name>
        <url-pattern>/createUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>conseillerServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ConseillerServlets.ConseillerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>conseillerServlet</servlet-name>
        <url-pattern>/conseillerList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupprimerConseillerServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ConseillerServlets.SupprimerConseillerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SupprimerConseillerServlet</servlet-name>
        <url-pattern>/supprimerConseiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>modifierConseillerServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ConseillerServlets.ModifierConseillerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>modifierConseillerServlet</servlet-name>
        <url-pattern>/modifierConseiller</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createConseillerServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ConseillerServlets.CreateConseillerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createConseillerServlet</servlet-name>
        <url-pattern>/createConseiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createActivityServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ActivityServlets.CreateActivityServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createActivityServlet</servlet-name>
        <url-pattern>/createActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getConseiller</servlet-name>
        <url-pattern>/conseiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupprimerActivityServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ActivityServlets.SupprimerActivityServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SupprimerActivityServlet</servlet-name>
        <url-pattern>/supprimerAcctivity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>activityServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.ActivityServlets.ActivityServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>activityServlet</servlet-name>
        <url-pattern>/activityList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createHiringServlet</servlet-name>
        <servlet-class>com.example.projets3.servlets.HiringServlets.CreateHiringServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createHiringServlet</servlet-name>
        <url-pattern>/createHiring</url-pattern>
    </servlet-mapping>


</web-app>